.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
}

.site-navigation li {
  list-style: none;
  font-size: 14px;
  /* background-color: lightpink; */
}

.left-section img {
  width: 144px;
}

.right-section {
  flex: 0 1 250px;
  display: flex;
  justify-content: space-between;
}
