/* .popular-models-container {
} */

.heading-text {
  margin: 64px;
  font-weight: 500;
  font-size: 30px;
  position: relative;
}

.heading-text::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 8rem;
  height: 0.3125rem;
  border-radius: 0.75rem;
  background-color: #eca93c;
}

.truck-list-container ul,
.heavy-machinery-container ul {
  list-style: none;
  display: flex;
  margin-top: 48px;
  padding: 8px;
  margin-top: 48px;
  margin-right: 64px;
  margin-left: 64px;
}

.truck-list-container ul li,
.heavy-machinery-container ul li {
  margin-right: 8px;
  background-color: rgb(244, 242, 242);
  padding: 8px 12px;
  border: none;
  border-radius: 24px;
  font-size: 13px;
  color: rgb(107, 114, 128);
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.truck-list-container ul li:hover,
.heavy-machinery-container ul li:hover {
  background-color: rgb(207, 206, 206);
  color: rgb(24, 26, 30);
}

.truck-list-container ul li:first-child,
.heavy-machinery-container ul li:first-child {
  background-color: #eca93c;
  color: white;
  transition: color 0.15s;
}

.truck-list-container ul li:first-child:hover,
.heavy-machinery-container ul li:first-child:hover {
  color: black;
}

.vehicle-showcase-container {
  display: flex;
  justify-content: space-between;
}

.image-size {
  width: 40px;
}

.greater-sign-container,
.lessthan-sign-container {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.greater-sign-container {
  margin-left: 10px;
}

.lessthan-sign-container {
  margin-right: 10px;
}

.greater-sign-container:hover,
.lessthan-sign-container:hover {
  background-color: rgb(250, 248, 248);
}

.vehicle-cards-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.15s;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.cards:hover {
  box-shadow: 0 0 50px rgb(236, 148, 5);
}

.vehicle-image {
  width: 240px;
}

.vehicle-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-btn {
  width: 208px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* till: Models section */

/* Brands section */

.brand-images-slider {
  display: flex;
  justify-content: space-between;
  margin: 0 63px;
  /* padding: 8px; */
}

.brand-image {
  width: 96px;
  height: 64px;
  object-fit: contain;
}

.popular-brands-section .heading-text {
  margin-bottom: 16px;
}

.jumbo-teuck-image {
  max-width: 100%;
  height: 100%;
}

.company-qualities-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 32px;
  margin-right: 64px;
  margin-left: 64px;
  margin-bottom: 0;
}

.company-logo-container {
  margin-bottom: 30px;
}

.comp-logo {
  width: 250px;
}

.company-qualities {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quality-container .flexbox {
  margin-bottom: 30px;
}

.quality-container .flexbox .quality-image-container {
  margin-right: 23px;
}

.quality-text {
  font-size: 14px;
  line-height: 21px;
}

.quality-text .title {
  font-weight: 700;
}

/* till: Brands section */

/* Loan Offer */

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: #eca93c;
  margin: 0 64px;
  padding: 30px;
  border-radius: 10px;
}

.drop-down {
  padding: 12px 17px;
  font-size: 16px;
  border-radius: 7px;
  width: 440px;
  border: none;
  cursor: pointer;
}

.loan-offer-btn {
  background-color: #e9b96a;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loan-offer-btn:hover {
  background-color: #d49b3f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: white;
}

.emi-calculator-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.emi-calculator-btn:hover {
  background-color: #d49b3f;
  color: white;
  border: none;
}

/* till: loan offer */

/* start: latest machinery */

.flex-images {
  display: flex;
  justify-content: space-around;
}

.image-corner {
  width: 241px;
}

.machinery-title {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 15px;
}

/* till: loan offers */

/* start: heavy-machinery */

.machinery-container {
  display: flex;
  justify-content: space-between;
}

.machinery-cards-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.machinery-cards {
  padding: 8px;
}

.machine-image-container {
  width: 100%;
}

.machine-name {
  text-align: center;
  font-weight: 700;
  position: relative;
}

.machine-name::after {
  text-align: center;
  position: absolute;
  content: "";
  background-color: #eca93c;
  border-radius: 0.75rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 0.2rem;
  width: 8rem;
}

.btn-container {
  text-align: center;
}

.contact-dealer {
  padding: 12px 40px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(24, 26, 30);
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.machine-icons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.icons-container {
  margin-top: 5px;
  justify-self: center;
  display: flex;
  align-items: center;
}

.icon-image-container {
  margin-right: 10px;
}

.text-container {
  font-size: 12px;
}

.text-container .data {
  font-weight: 700;
}

/* till: Heavy machinery */

/* start: download app  */

.download-app-section {
  background-color: #eca93c;
  margin-top: 40px;
  height: 480px;
  background-image: url("../images/bg-img.png");
}
