@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  color: rgb(233, 140, 52);
}

.progressBar::-webkit-progress-value {
  /* WebKit browsers */
  background-color: white;
  appearance: none;
  border-radius: 15px;
}
